In [144]:
import pandas as pd

In [145]:
df=pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             373 non-null    object
 9   Blood Pressure           371 non-null    object
 10  Heart Rate               368 non-null    object
 11  Daily Steps              367 non-null    float64
 12  Sleep Disorder           153 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [147]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               1
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 1
Blood Pressure               3
Heart Rate                   6
Daily Steps                  7
Sleep Disorder             221
dtype: int64

In [148]:
# data preprocessing

In [149]:
def toldir(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)
    return df

In [150]:
toldir(df)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200.000000,Insomnia
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000.000000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Sleep Apnea,130/85,68,6807.901907,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea

In [151]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    object
 11  Daily Steps              374 non-null    float64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [153]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

def encod(df):
    df = df.copy()
    for col in df.columns:
        if df[col].dtype == 'object':
            if df[col].nunique() <= 5:
                dummies = pd.get_dummies(df[col], prefix=col, dtype=int)
                df = pd.concat([df.drop(columns=[col]), dummies], axis=1)
            else:
                encoder = LabelEncoder()
                df[col] = encoder.fit_transform(df[col])
    return df

In [154]:
df=encod(df)

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    int64
 1   Age                         374 non-null    int64
 2   Occupation                  374 non-null    int32
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    int64
 5   Physical Activity Level     374 non-null    int32
 6   Stress Level                374 non-null    int32
 7   BMI Category                374 non-null    int32
 8   Blood Pressure              374 non-null    int32
 9   Heart Rate                  374 non-null    int32
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    int32
 12  Gender_Male                 374 non-null    int32
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    int32
dtypes: float64(2), int32(10), int64(3)
memory usage: 29.3 KB

In [156]:
df['Sleep Disorder_Sleep Apnea']

0      0
1      0
2      0
3      1
4      0
      ..
369    1
370    1
371    1
372    1
373    1
Name: Sleep Disorder_Sleep Apnea, Length: 374, dtype: int32

In [157]:
from sklearn.preprocessing import MinMaxScaler
scal = MinMaxScaler()

In [158]:
def scal_qil(df):
    raqamlar = df.select_dtypes(include=['int64','int32','float64']).columns
    df[raqamlar]=scal.fit_transform(df[raqamlar])
    return df

In [159]:
scal_qil(df)

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Gender_Female,Gender_Male,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea
0,0.000000,0.00000,0.909091,0.004335,0.4,0.294118,0.571429,0.833333,0.44,0.526316,0.171429,0.0,1.0,1.0,0.0
1,0.002681,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1.0,0.0
2,0.005362,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1.0,0.0
3,0.008043,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,0.666667,0.88,0.894737,0.000000,0.0,1.0,0.0,1.0
4,0.010724,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,1.000000,0.60,0.105263,0.543986,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0.989276,1.00000,0.545455,0.033237,1.0,0.764706,0.142857,0.833333,0.92,0.105263,0.571429,1.0,0.0,0.0,1.0
370,0.991957,1.00000,0.545455,0.031792,1.0,0.764706,0.142857,0.833333,0.92,0.105263,0.571429,1.0,0.0,0.0,1.0
371,0.994638,1.00000,0.545455,0.033237,1.0,0.764706,0.142857,0.833333,0.92,0.105263,0.571429,1.0,0.0,0.0,1.0
372,0.997319,1.00000,0.545455,0.033237,1.0,0.764706,0.142857,0.833333,0.92,0.105263,0.571429,1.0,0.0,0.0,1.0
373,1.000000,1.00000,0.545455,0.033237,1.0,0.764706,0.142857,0.833333,0.92,0.105263,0.571429,1.0,0.0,0.0,1.0

In [160]:
df.head()

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Gender_Female,Gender_Male,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea
0,0.000000,0.00000,0.909091,0.004335,0.4,0.294118,0.571429,0.833333,0.44,0.526316,0.171429,0.0,1.0,1.0,0.0
1,0.002681,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1.0,0.0
2,0.005362,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1.0,0.0
3,0.008043,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,0.666667,0.88,0.894737,0.000000,0.0,1.0,0.0,1.0
4,0.010724,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,1.000000,0.60,0.105263,0.543986,0.0,1.0,1.0,0.0

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    float64
 1   Age                         374 non-null    float64
 2   Occupation                  374 non-null    float64
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    float64
 5   Physical Activity Level     374 non-null    float64
 6   Stress Level                374 non-null    float64
 7   BMI Category                374 non-null    float64
 8   Blood Pressure              374 non-null    float64
 9   Heart Rate                  374 non-null    float64
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    float64
 12  Gender_Male                 374 non-null    float64
 13  Sleep Disorder_Insomnia     374 non-null    float64
 14  Sleep Disorder_Sleep Apnea  374 non-null    float64
dtypes: float64(15)
memory usage: 44.0 KB

In [162]:
x = df.drop('Sleep Disorder_Sleep Apnea',axis=1)

In [163]:
y = df['Sleep Disorder_Sleep Apnea']

In [164]:
from sklearn.model_selection import train_test_split

In [165]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2, random_state=42)

In [107]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [108]:
model.fit(x_train,y_train)

LogisticRegression()

In [109]:
y_pred = model.predict(x_test)

In [110]:
from sklearn.metrics import classification_report, accuracy_score

In [111]:
report = classification_report(y_test,y_pred)
accur = accuracy_score(y_test,y_pred)

In [112]:
print(report)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        59
         1.0       1.00      1.00      1.00        16

    accuracy                           1.00        75
   macro avg       1.00      1.00      1.00        75
weighted avg       1.00      1.00      1.00        75

In [113]:
print(accur)

1.0

In [32]:
# Desision Tree

In [137]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [138]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [139]:
pred = dt.predict(x_test)

In [140]:
pred

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1.])

In [141]:
rep = classification_report(y_test,y_pred)
acc = accuracy_score(y_test,y_pred)

In [142]:
print(rep)

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        59
         1.0       1.00      1.00      1.00        16

    accuracy                           1.00        75
   macro avg       1.00      1.00      1.00        75
weighted avg       1.00      1.00      1.00        75

In [143]:
print(acc)

1.0

In [40]:
# Linear regression

In [166]:
from sklearn.linear_model import LinearRegression
mod =  LinearRegression()

In [167]:
mod.fit(x_train,y_train)

LinearRegression()

In [168]:
pr = mod.predict(x_test)

In [169]:
pr

array([-1.11022302e-16, -3.33066907e-16, -2.22044605e-16, -1.11022302e-16,
       -2.22044605e-16,  0.00000000e+00, -2.22044605e-16,  0.00000000e+00,
       -1.11022302e-16, -1.11022302e-16,  0.00000000e+00, -1.11022302e-16,
        0.00000000e+00, -3.33066907e-16,  0.00000000e+00,  7.77156117e-16,
       -5.55111512e-16,  0.00000000e+00, -1.11022302e-16, -2.22044605e-16,
        1.11022302e-16,  0.00000000e+00, -2.22044605e-16,  2.22044605e-16,
        3.33066907e-16,  0.00000000e+00,  0.00000000e+00, -1.11022302e-16,
       -1.11022302e-16,  1.00000000e+00, -1.11022302e-16, -2.22044605e-16,
       -1.11022302e-16,  1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
       -2.22044605e-16,  1.11022302e-16,  0.00000000e+00,  1.11022302e-16,
        1.11022302e-16,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
       -1.11022302e-16,  0.00000000e+00, -3.33066907e-16, -1.11022302e-16,
       -4.44089210e-16, -1.11022302e-16,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  2.22044605e-16,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00, -2.22044605e-16,
       -1.11022302e-16,  3.33066907e-16, -2.22044605e-16,  0.00000000e+00,
        2.22044605e-16, -2.22044605e-16,  0.00000000e+00, -1.11022302e-16,
        1.11022302e-16, -5.55111512e-16,  0.00000000e+00, -1.11022302e-16,
       -1.11022302e-16,  1.00000000e+00,  1.00000000e+00])

In [170]:
# Linear regression

In [171]:
from sklearn.metrics import r2_score, mean_absolute_error

In [172]:
r2 = r2_score(y_test,pr)
mae = mean_absolute_error(y_test,y_pred)

In [173]:
print(r2)
print(mae)

1.0
0.0

In [174]:
#!pip install tabulate

In [175]:
from tabulate import tabulate

In [187]:
natijalar = [
    ['LogisticRegression', 0.1],
    ['LinearRegression',0.1],
    ['DecisionTreeClassifier',0.1]
]

headers = ['Algorithm','Accuracy_score']

table = tabulate(natijalar,headers=headers,tablefmt='grid',floatfmt='.3f')
print(table)

+------------------------+------------------+
| Algorithm              |   Accuracy_score |
+========================+==================+
| LogisticRegression     |            0.100 |
+------------------------+------------------+
| LinearRegression       |            0.100 |
+------------------------+------------------+
| DecisionTreeClassifier |            0.100 |
+------------------------+------------------+