In [2]:
import pandas as pd
df = pd.read_csv('taxi_trip_pricing.csv')

In [3]:
df.isnull().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [4]:
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [5]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)
    return df

In [6]:
tozala(df)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.350000,Morning,Weekday,3.0,Low,Clear,3.560000,0.800000,0.320000,53.82,36.262400
1,47.590000,Afternoon,Weekday,1.0,High,Clear,3.502989,0.620000,0.430000,40.57,56.874773
2,36.870000,Evening,Weekend,1.0,High,Clear,2.700000,1.210000,0.150000,37.27,52.903200
3,30.330000,Evening,Weekday,4.0,Low,Clear,3.480000,0.510000,0.150000,116.81,36.469800
4,27.070547,Evening,Weekday,3.0,High,Clear,2.930000,0.630000,0.320000,22.64,15.618000
...,...,...,...,...,...,...,...,...,...,...,...
995,5.490000,Afternoon,Weekend,4.0,Medium,Clear,2.390000,0.620000,0.490000,58.39,34.404900
996,45.950000,Night,Weekday,4.0,Medium,Clear,3.120000,0.610000,0.292916,61.96,62.129500
997,7.700000,Morning,Weekday,3.0,Low,Rain,2.080000,1.780000,0.292916,54.18,33.123600
998,47.560000,Morning,Weekday,1.0,Low,Clear,2.670000,0.820000,0.170000,114.94,61.209000
999,22.850000,Morning,Weekend,3.0,Medium,Clear,4.340000,1.233316,0.230000,29.69,45.443700

In [7]:
df.isnull().sum()

Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       1000 non-null   float64
 1   Time_of_Day            1000 non-null   object
 2   Day_of_Week            1000 non-null   object
 3   Passenger_Count        1000 non-null   float64
 4   Traffic_Conditions     1000 non-null   object
 5   Weather                1000 non-null   object
 6   Base_Fare              1000 non-null   float64
 7   Per_Km_Rate            1000 non-null   float64
 8   Per_Minute_Rate        1000 non-null   float64
 9   Trip_Duration_Minutes  1000 non-null   float64
 10  Trip_Price             1000 non-null   float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
# Encoding
from sklearn.preprocessing import LabelEncoder
def encodla(df):
    encoder=LabelEncoder()
    for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nunique()<5:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])
    return df

In [11]:
df=encodla(df)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Trip_Distance_km           1000 non-null   float64
 1   Passenger_Count            1000 non-null   float64
 2   Base_Fare                  1000 non-null   float64
 3   Per_Km_Rate                1000 non-null   float64
 4   Per_Minute_Rate            1000 non-null   float64
 5   Trip_Duration_Minutes      1000 non-null   float64
 6   Trip_Price                 1000 non-null   float64
 7   Time_of_Day_Afternoon      1000 non-null   int32
 8   Time_of_Day_Evening        1000 non-null   int32
 9   Time_of_Day_Morning        1000 non-null   int32
 10  Time_of_Day_Night          1000 non-null   int32
 11  Day_of_Week_Weekday        1000 non-null   int32
 12  Day_of_Week_Weekend        1000 non-null   int32
 13  Traffic_Conditions_High    1000 non-null   int32
 14  Traffic_Conditions_Low     1000 non-null   int32
 15  Traffic_Conditions_Medium  1000 non-null   int32
 16  Weather_Clear              1000 non-null   int32
 17  Weather_Rain               1000 non-null   int32
 18  Weather_Snow               1000 non-null   int32
dtypes: float64(7), int32(12)
memory usage: 101.7 KB

In [13]:
# Scaling
from sklearn.preprocessing import MinMaxScaler
def scaling_qil(df):
    scaler=MinMaxScaler()
    num_col=df.select_dtypes(include=['int32','int64','float64']).columns.drop('Trip_Price')
    df[num_col]=scaler.fit_transform(df[num_col])
    return df

In [14]:
scaling_qil(df)

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price,Time_of_Day_Afternoon,Time_of_Day_Evening,Time_of_Day_Morning,Time_of_Day_Night,Day_of_Week_Weekday,Day_of_Week_Weekend,Traffic_Conditions_High,Traffic_Conditions_Low,Traffic_Conditions_Medium,Weather_Clear,Weather_Rain,Weather_Snow
0,0.125106,0.666667,0.518395,0.200000,0.550000,0.425063,36.262400,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.320084,0.000000,0.499328,0.080000,0.825000,0.309675,56.874773,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.246070,0.000000,0.230769,0.473333,0.125000,0.280937,52.903200,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.200915,1.000000,0.491639,0.006667,0.125000,0.973613,36.469800,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.178411,0.666667,0.307692,0.086667,0.550000,0.153531,15.618000,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.029412,1.000000,0.127090,0.080000,0.975000,0.464861,34.404900,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
996,0.308761,1.000000,0.371237,0.073333,0.482289,0.495951,62.129500,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
997,0.044671,0.666667,0.023411,0.853333,0.482289,0.428198,33.123600,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
998,0.319877,0.000000,0.220736,0.213333,0.175000,0.957328,61.209000,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
999,0.149271,0.666667,0.779264,0.488877,0.325000,0.214926,45.443700,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0

In [15]:
x=df.drop('Trip_Price',axis=1)

In [16]:
y=df['Trip_Price']

In [17]:
from sklearn.model_selection import  train_test_split

In [18]:
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [19]:
df['Trip_Price'].value_counts()

Trip_Price
56.874773    49
86.354500     1
65.195000     1
85.465200     1
69.914800     1
             ..
12.999800     1
46.747100     1
45.897500     1
58.572700     1
45.443700     1
Name: count, Length: 952, dtype: int64

In [ ]:
from sklearn.linear_model import  LinearRegression,LogisticRegression

In [37]:
model=LinearRegression()

In [39]:
model

LinearRegression()

In [26]:
model.fit(x_train,y_train)

LinearRegression()

In [33]:
y_pred

array([ 74.75   ,  89.28125,  66.0625 ,  72.59375, 120.0625 ,  74.3125 ,
        25.53125,  55.25   ,  29.9375 ,  75.4375 ,  72.8125 , 101.375  ,
        73.65625,  26.21875,  -0.75   ,   3.96875,  70.375  ,  16.46875,
        19.78125,  37.71875,  79.25   ,  39.46875, -22.75   ,  34.75   ,
        44.     ,  91.15625,  66.9375 ,  43.1875 ,  36.34375,  94.15625,
        82.15625,  86.03125,  14.34375, 104.375  ,  38.6875 ,  93.9375 ,
        22.96875,  57.6875 ,  28.90625,  77.875  ,  51.125  ,  37.96875,
         1.     ,  33.875  ,  12.53125,  59.     ,  52.625  ,  44.90625,
        42.71875,  47.8125 ,  63.9375 ,   8.59375,  84.625  ,  60.59375,
        32.     ,  71.75   ,  36.21875,  37.125  ,  61.6875 ,  54.875  ,
        90.875  ,  71.3125 ,  43.375  ,  53.     ,   7.875  ,  67.71875,
        72.25   ,  25.8125 ,  76.5625 ,  52.125  ,  71.     ,   9.75   ,
        16.4375 ,  54.1875 ,  67.21875,  70.125  ,  58.09375,  66.0625 ,
        19.125  ,  57.34375,  61.34375,  54.96875,  24.46875,  87.0625 ,
        51.09375,  69.1875 ,  90.9375 ,  11.5625 ,  47.96875,  34.59375,
        43.71875,  58.6875 , 115.8125 ,  68.6875 ,  38.46875,  -1.0625 ,
        49.28125,  76.5625 ,  61.53125,  34.125  ,  87.3125 , 105.6875 ,
        11.3125 ,  91.3125 ,  51.8125 ,  55.875  ,  96.375  ,  59.71875,
         2.5    ,  88.125  ,  29.     ,  52.1875 ,  69.375  ,  64.1875 ,
        83.40625,  57.03125,  27.09375,  62.78125,  81.1875 ,  23.75   ,
        94.5    ,  38.1875 ,  45.59375,  44.5625 , -24.46875,  70.0625 ,
        46.71875, 107.78125,  43.3125 ,  55.84375,  27.75   ,  93.84375,
       108.53125,  11.875  ,  75.875  , 103.21875,  87.59375,  50.3125 ,
        66.     , -16.1875 ,  22.     ,  85.625  ,  16.46875,  41.0625 ,
        60.9375 ,  48.84375, 104.5    ,  11.1875 ,  54.34375,  90.5625 ,
        29.46875,   5.40625,  31.125  ,  36.71875,  22.1875 ,  83.375  ,
         5.21875,  84.375  ,  28.125  ,  82.5625 ,  64.8125 ,  71.9375 ,
        54.59375,  33.     ,  62.46875,   9.9375 ,  34.3125 ,  38.46875,
        81.09375,  44.     ,  86.5    ,  38.6875 , 192.65625,  81.15625,
        16.09375,  50.0625 ,  20.09375,   9.09375,  56.78125,  68.9375 ,
        51.34375,  24.875  ,  -5.5    ,  41.6875 ,  69.875  ,  63.0625 ,
        46.125  ,  54.8125 ,  47.8125 ,  75.25   ,  77.3125 ,  61.75   ,
        56.3125 ,  73.21875,  40.09375, 101.15625,  15.5    ,   6.09375,
        11.09375,  52.28125,  25.90625, 103.0625 ,  48.65625,  -8.75   ,
        81.9375 ,  66.84375,  89.34375,  69.25   ,  41.75   ,  20.3125 ,
        60.28125, 204.625  ,  15.4375 ,  47.125  ,  12.4375 ,  55.78125,
        37.6875 ,  71.09375,  54.8125 ,  35.15625, 105.5625 ,  57.5    ,
        47.15625,  16.4375 ,  11.25   ,  55.8125 ,  75.96875,  56.125  ,
        28.25   ,  67.1875 ,  63.4375 ,  53.84375, 195.6875 ,  82.8125 ,
        86.     ,  16.90625,  36.75   ,  46.625  ,  81.78125,  42.75   ,
        51.25   ,  46.8125 ,  12.125  ,  89.34375,  64.78125,  17.9375 ,
        20.0625 ,   5.28125,  60.15625,  65.25   ,  53.09375,  44.8125 ,
        82.40625,  63.59375,  51.40625,  45.6875 ,  36.09375,  37.25   ,
        84.03125,  52.9375 ,  66.84375,  27.15625,  24.90625,  75.375  ,
        27.5625 ,  87.34375,  72.40625,  25.3125 ,  98.8125 ,  58.     ,
        63.09375,  81.84375,  20.875  ,  22.875  ,  84.90625,  88.34375,
        73.375  ,  23.5625 ,  87.5625 ,  33.46875,  46.71875, 210.25   ,
        38.09375,  40.75   ,  52.8125 , 111.53125,  63.34375,   0.5    ,
        19.53125,  68.0625 ,  42.125  ,  58.3125 ,  48.9375 ,  88.25   ,
        68.75   ,  41.8125 ,  49.34375,  58.5    ,  95.8125 ,  31.625  ])

In [30]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [31]:
r2=r2_score(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
rmse=pow(mse,(1/2))
mae=mean_absolute_error(y_test,y_pred)

In [32]:
print(r2)
print(mse)
print(rmse)
print(mae)

0.776187033680088
291.31852608515766
17.068055720706962
10.426699741025548