# SVR score --> 0.9212
# SVC score --> 0.8266

In [3]:
import pandas as pd 
df=pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             373 non-null    object
 9   Blood Pressure           371 non-null    object
 10  Heart Rate               368 non-null    object
 11  Daily Steps              367 non-null    float64
 12  Sleep Disorder           153 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [5]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():

            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)

    return df

In [6]:
tozala(df)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200.000000,Insomnia
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000.000000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Sleep Apnea,130/85,68,6807.901907,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    object
 11  Daily Steps              374 non-null    float64
 12  Sleep Disorder           374 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder
encoding=LabelEncoder()

In [9]:
def encodlash(df):
    for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nunique()<=6:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoding.fit_transform(df[col])
    return df

In [10]:
df=encodlash(df)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    int64
 1   Age                         374 non-null    int64
 2   Occupation                  374 non-null    int32
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    int64
 5   Physical Activity Level     374 non-null    int32
 6   Stress Level                374 non-null    int32
 7   BMI Category                374 non-null    int32
 8   Blood Pressure              374 non-null    int32
 9   Heart Rate                  374 non-null    int32
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    int32
 12  Gender_Male                 374 non-null    int32
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    int32
dtypes: float64(2), int32(10), int64(3)
memory usage: 29.3 KB

In [12]:
for col in df.columns:
    if df[col].dtype=='object':
        if df[col].nunique()<=6:
            dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
            df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
        else:
            df[col]=encoding.fit_transform(df[col])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    int64
 1   Age                         374 non-null    int64
 2   Occupation                  374 non-null    int32
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    int64
 5   Physical Activity Level     374 non-null    int32
 6   Stress Level                374 non-null    int32
 7   BMI Category                374 non-null    int32
 8   Blood Pressure              374 non-null    int32
 9   Heart Rate                  374 non-null    int32
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    int32
 12  Gender_Male                 374 non-null    int32
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    int32
dtypes: float64(2), int32(10), int64(3)
memory usage: 29.3 KB

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
standart_scaler=StandardScaler()

In [18]:
def scaling_qil(df):
    numerical_col=df.select_dtypes(include=['int32','int64','float64']).columns.drop('Sleep Disorder_Insomnia')
    df[numerical_col]=standart_scaler.fit_transform(df[numerical_col])
    return df

In [19]:
df=scaling_qil(df)

In [20]:
df.head()

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Gender_Female,Gender_Male,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea
0,-1.727426,-1.753096,1.710794,-0.277074,-1.082808,-0.780338,0.225919,1.169279,-0.329552,1.758603,-1.633400e+00,-0.989361,0.989361,1,-0.505008
1,-1.718163,-1.637643,-0.904789,-0.257126,-1.082808,0.177792,1.658014,-0.867881,-0.610310,1.179881,1.999297e+00,-0.989361,0.989361,1,-0.505008
2,-1.708901,-1.637643,-0.904789,-0.257126,-1.082808,0.177792,1.658014,-0.867881,-0.610310,1.179881,1.999297e+00,-0.989361,0.989361,1,-0.505008
3,-1.699639,-1.637643,0.729951,-0.316969,-2.745930,-1.546841,1.658014,0.490226,1.214614,3.784129,-2.384992e+00,-0.989361,0.989361,0,1.980165
4,-1.690376,-1.637643,0.729951,-0.316969,-2.745930,-1.546841,1.658014,1.848332,0.231963,-0.556285,-5.696411e-16,-0.989361,0.989361,1,-0.505008

In [ ]:
from sklearn.model_selection import train_test_split

In [21]:
x=df.drop('Sleep Disorder_Insomnia',axis=1)

In [22]:
y=df['Sleep Disorder_Insomnia']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [26]:
from sklearn.svm import SVR

In [27]:
model=SVR(kernel='rbf')

In [28]:
model

SVR()

In [29]:
model.fit(x_train,y_train)

SVR()

In [30]:
y_pred=model.predict(x_test)

In [31]:
from sklearn.metrics import accuracy_score, r2_score

In [32]:
class_score=r2_score(y_test,y_pred)

In [33]:
class_score

0.9212488909216394

# SVM --> SVC

In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             373 non-null    object
 9   Blood Pressure           371 non-null    object
 10  Heart Rate               368 non-null    object
 11  Daily Steps              367 non-null    float64
 12  Sleep Disorder           153 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [37]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)

In [38]:
tozala(df)

In [39]:
#Encoding
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
def encod_qil(df):
    df=df.copy()
    
    for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nunique()<=6:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])
    return df

In [40]:
df=encod_qil(df)

In [41]:
from sklearn.svm import SVC

In [42]:
model=SVC(kernel='rbf')

In [43]:
model

SVC()

In [44]:
x=df.drop('Sleep Disorder_Insomnia',axis=1)

In [45]:
y=df['Sleep Disorder_Insomnia']

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [47]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [48]:
model.fit(x_train,y_train)

SVC()

In [49]:
model

SVC()

In [50]:
y_pred=model.predict(x_test)

In [51]:
score=accuracy_score(y_test,y_pred)

In [52]:
score

0.8266666666666667