In [79]:
import pandas as pd
df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           373 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    object
 7   Stress Level             374 non-null    object
 8   BMI Category             373 non-null    object
 9   Blood Pressure           371 non-null    object
 10  Heart Rate               368 non-null    object
 11  Daily Steps              367 non-null    float64
 12  Sleep Disorder           153 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 38.1+ KB

In [81]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200.0,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.0,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.0,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000.0,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Sleep Apnea,NaN,NaN,NaN,NaN

# Datalarimiz bilan tanishuv

In [82]:
# Xar bir feautureni manosini tushunish
# Target qiymatlarni 
# Keraksiz bolgan ustunlarni tashlab yuborish

In [83]:
# df.drop('player_name',axis=1,inplace=True)
# Agar datamizda bizga yordam bermaydigan yoki oxshash
# Datalarimiz bolsa ularni ochirib tashimiz

# Data Preprocessing

In [84]:
#Missing qiymatlar
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               1
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 1
Blood Pressure               3
Heart Rate                   6
Daily Steps                  7
Sleep Disorder             221
dtype: int64

In [85]:
def tozala(df):
    for col in df.columns:
        if df[col].isnull().any():
            if df[col].dtype=='object':
                df[col].fillna(df[col].mode()[0],inplace=True)
            else:
                df[col].fillna(df[col].mean(),inplace=True)

    return df

In [86]:
tozala(df)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200.000000,Insomnia
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000.000000,Insomnia
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000.000000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Sleep Apnea,130/85,68,6807.901907,Insomnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000.000000,Sleep Apnea

In [87]:
df.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [88]:
# Encoding
from sklearn.preprocessing import LabelEncoder
def encodla(df):
    encoder=LabelEncoder()
    for col in df.columns:
        if df[col].dtype=='object':
            if df[col].nunique()<5:
                dummies=pd.get_dummies(df[col],prefix=col,dtype=int)
                df=pd.concat([df.drop(columns=[col]),dummies],axis=1)
            else:
                df[col]=encoder.fit_transform(df[col])
    return df

In [89]:
df=encodla(df)

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    int64
 1   Age                         374 non-null    int64
 2   Occupation                  374 non-null    int32
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    int64
 5   Physical Activity Level     374 non-null    int32
 6   Stress Level                374 non-null    int32
 7   BMI Category                374 non-null    int32
 8   Blood Pressure              374 non-null    int32
 9   Heart Rate                  374 non-null    int32
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    int32
 12  Gender_Male                 374 non-null    int32
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    int32
dtypes: float64(2), int32(10), int64(3)
memory usage: 29.3 KB

In [91]:
# Scaling
from sklearn.preprocessing import MinMaxScaler
def scaling_qil(df):
    scaler=MinMaxScaler()
    num_col=df.select_dtypes(include=['int32','int64','float64']).columns.drop('Sleep Disorder_Insomnia')
    df[num_col]=scaler.fit_transform(df[num_col])
    return df

In [92]:
df=scaling_qil(df)

In [93]:
df.head()

,Person ID,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Gender_Female,Gender_Male,Sleep Disorder_Insomnia,Sleep Disorder_Sleep Apnea
0,0.000000,0.00000,0.909091,0.004335,0.4,0.294118,0.571429,0.833333,0.44,0.526316,0.171429,0.0,1.0,1,0.0
1,0.002681,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1,0.0
2,0.005362,0.03125,0.181818,0.005780,0.4,0.588235,1.000000,0.333333,0.36,0.421053,1.000000,0.0,1.0,1,0.0
3,0.008043,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,0.666667,0.88,0.894737,0.000000,0.0,1.0,0,1.0
4,0.010724,0.03125,0.636364,0.001445,0.0,0.058824,1.000000,1.000000,0.60,0.105263,0.543986,0.0,1.0,1,0.0

# Training

In [94]:
x=df.drop('Sleep Disorder_Insomnia',axis=1)

In [95]:
y=df['Sleep Disorder_Insomnia']

In [96]:
from sklearn.model_selection import  train_test_split

In [97]:
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [98]:
df['Sleep Disorder_Insomnia'].value_counts()

Sleep Disorder_Insomnia
1    298
0     76
Name: count, dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    float64
 1   Age                         374 non-null    float64
 2   Occupation                  374 non-null    float64
 3   Sleep Duration              374 non-null    float64
 4   Quality of Sleep            374 non-null    float64
 5   Physical Activity Level     374 non-null    float64
 6   Stress Level                374 non-null    float64
 7   BMI Category                374 non-null    float64
 8   Blood Pressure              374 non-null    float64
 9   Heart Rate                  374 non-null    float64
 10  Daily Steps                 374 non-null    float64
 11  Gender_Female               374 non-null    float64
 12  Gender_Male                 374 non-null    float64
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    float64
dtypes: float64(14), int32(1)
memory usage: 42.5 KB

In [100]:
df = df.astype(int)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Person ID                   374 non-null    int32
 1   Age                         374 non-null    int32
 2   Occupation                  374 non-null    int32
 3   Sleep Duration              374 non-null    int32
 4   Quality of Sleep            374 non-null    int32
 5   Physical Activity Level     374 non-null    int32
 6   Stress Level                374 non-null    int32
 7   BMI Category                374 non-null    int32
 8   Blood Pressure              374 non-null    int32
 9   Heart Rate                  374 non-null    int32
 10  Daily Steps                 374 non-null    int32
 11  Gender_Female               374 non-null    int32
 12  Gender_Male                 374 non-null    int32
 13  Sleep Disorder_Insomnia     374 non-null    int32
 14  Sleep Disorder_Sleep Apnea  374 non-null    int32
dtypes: int32(15)
memory usage: 22.0 KB

# Decesion Tree Regressor

In [102]:
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
dt_model=DecisionTreeRegressor()

In [103]:
dt_model

DecisionTreeRegressor()

In [104]:
# Fit--Traing
dt_model.fit(x_train,y_train)

DecisionTreeRegressor()

In [105]:
#predict
y_pred=dt_model.predict(x_test)

In [106]:
y_pred

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0.,
       0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 1., 1.,
       0., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1.])

In [107]:
#Model evaulation
from sklearn.metrics import  r2_score, mean_absolute_error,mean_squared_error

In [108]:
import numpy as np

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [109]:
r2=r2_score(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)
#rmse=root_mean_squared_error(y_test,y_pred)

In [110]:
print('r2:',r2)
print('mae:',mae)
print('mse:',mse)
print('rmse:',rmse)

r2: 1.0
mae: 0.0
mse: 0.0
rmse: 0.0

# Decesion Tree Classifier

In [111]:
dt_cl=DecisionTreeClassifier()

In [112]:
dt_cl.fit(x_train,y_train)

DecisionTreeClassifier()

In [113]:
y_pred=dt_cl.predict(x_test)

In [114]:
from sklearn.metrics import classification_report

In [115]:
class_report=classification_report(y_test,y_pred)

In [116]:
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        27
           1       1.00      1.00      1.00        86

    accuracy                           1.00       113
   macro avg       1.00      1.00      1.00       113
weighted avg       1.00      1.00      1.00       113

In [117]:
y.value_counts()

Sleep Disorder_Insomnia
1    298
0     76
Name: count, dtype: int64

# Linear Regression

In [118]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()

In [119]:
lr_model.fit(x_train,y_train)

LinearRegression()

In [120]:
y_pred=lr_model.predict(x_test)

In [121]:
y_pred

array([ 1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  4.44089210e-16,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  4.44089210e-16,  0.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00, -2.22044605e-16,  1.66533454e-15,  6.66133815e-16,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  4.44089210e-16,  1.55431223e-15,
        0.00000000e+00,  4.44089210e-16,  1.00000000e+00,  4.44089210e-16,
        1.55431223e-15,  1.88737914e-15,  4.44089210e-16,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  4.44089210e-16,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  4.44089210e-16,  1.66533454e-15,
        1.00000000e+00,  0.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  4.44089210e-16,  1.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  2.22044605e-16,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.33226763e-15,  1.00000000e+00,  1.00000000e+00,
        1.00000000e+00,  1.00000000e+00,  4.44089210e-16,  1.00000000e+00,
        1.00000000e+00,  2.22044605e-16,  1.00000000e+00,  4.44089210e-16,
        1.00000000e+00,  1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
        1.00000000e+00])

In [123]:
import numpy as np

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [124]:
r2=r2_score(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
mse=mean_squared_error(y_test,y_pred)

In [125]:
print('r2:',r2)
print('mae:',mae)
print('mse:',mse)
print('rmse:',rmse)

r2: 1.0
mae: 4.863366346809314e-16
mse: 3.7206921290222224e-31
rmse: 6.099747641519461e-16

# Logistic Regression

In [126]:
from sklearn.linear_model import LogisticRegression
lg_reg=LogisticRegression()

In [127]:
lg_reg.fit(x_train,y_train)

LogisticRegression()

In [128]:
y_pred=lg_reg.predict(x_test)

In [129]:
class_report=classification_report(y_test,y_pred)

In [130]:
from sklearn.metrics import accuracy_score

In [131]:
acc_score=accuracy_score(y_test,y_pred)

In [132]:
print(acc_score)

0.9911504424778761